@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    
}
body{
    align-items: center;
    text-align: center;
}
.imagencita {
    display: block;
    max-width: 100%;
    align-items: center;
    background-image: url(../img/pokedex\ \(1\).png);
    position: relative;
    width: 29vw;
    height: 45vw;
    z-index: -1;
    margin-top: -25vw;
    left: 37vw;
    background-size: cover;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

.imgP {
    width: 10vw;
    height: 10vw;
    margin-left: 45vw;
    margin-top: 16vw;

}

.imgP:hover {
    transform: translateY(-2px)
}

h1 {
    font-size: clamp(20px, 3.8vw, 28px);
    font-weight: 8
}