
* {
    padding: 0;
    margin: 0;
}

body {
    background: url('../media/fondo.png') no-repeat center;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}


main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    max-width: 1200px;
    
}

.cartas img {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cartas img:hover {
    transform: scale(1.1);
}

