*{
padding: 0;
margin: 0;
background-color: black;
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.play{
   background: url("../media/play.png");
   background-size: cover;
   width: 15vw;
   height: 15vw;
   top: 50%;
   left: 43%;
   position: absolute;
   cursor: pointer;
   background-position: center;
   animation: animacion 30s 1s;
   opacity: 0;
}

@keyframes animacion {

   0%{
      opacity: 0;
   }

   25%{
      opacity: 5;
   }

   50%{
   opacity: 1;
   }

   100%{
      opacity: 5;
   }


   
}